* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

#startScreen {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid #000000;
  background-color: rgba(254, 236, 0, 0.7);
  border-radius: 20px;
  z-index: 10;
  padding: 3em;

  .red{
    color: #e90303;
  }

  h1 {
    font-family: 'Trispace', sans-serif;
    font-size: 4em;
    color: #000000;
    text-align: center;
  }

  h2{
    font-family: 'Trispace', sans-serif;
    font-size: 2.5em;
    color: #000000;
    text-align: center;
  }

  h3{
    margin-top: 1em;
    font-size: 1.5em;
  }

  .btnContainer {
    margin-top: 3em;

    /*startButton
        background-color: #000000;
        border: 2px solid #000000;
        border-radius: 20px;
        padding: 1em;
        color: #feec00;
        font-size: 1.5em;
        cursor: pointer;
    */
    .btn-7,
.btn-7 *,
.btn-7 :after,
.btn-7 :before,
.btn-7:after,
.btn-7:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-7 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-7:disabled {
  cursor: default;
}
.btn-7:-moz-focusring {
  outline: auto;
}
.btn-7 svg {
  display: block;
  vertical-align: middle;
}
.btn-7 [hidden] {
  display: none;
}
.btn-7 {
  border-radius: 99rem;
  border-width: 2px;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-7 span {
  mix-blend-mode: difference;
}
.btn-7:before {
  background: #fff;
  -webkit-clip-path: polygon(
    0 calc(var(--progress, 100%) / 2),
    100% calc(var(--progress, 100%) / 2),
    100% calc(100% - var(--progress, 100%) / 2),
    0 calc(100% - var(--progress, 100%) / 2)
  );
  clip-path: polygon(
    0 calc(var(--progress, 100%) / 2),
    100% calc(var(--progress, 100%) / 2),
    100% calc(100% - var(--progress, 100%) / 2),
    0 calc(100% - var(--progress, 100%) / 2)
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}
.btn-7:hover:before {
  --progress: 0%;
}



  }
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


  #board {
    border: 7px double #000000;
    // background: url(./img/tlo-05.png) no-repeat center center fixed;     
    // background-size: cover;
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 100vh;

    #ship {
      position: absolute;


      #ship_img {
        max-width: 100px;
      }
    }


    #astro1 {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      opacity: 0.6;
      width: 100%;

      img {
        max-width: 80%;
      }
    }

    #bullet {
      position: absolute;
      opacity: 0;
      left: 800px;
      top: 500px;
      height: 15px;
      width: 4px;
      background-color: #000000;
    }

    #ufobullet {
      position: absolute;
      opacity: 0;
      left: 800px;
      top: 0px;
      height: 18px;
      width: 8px;
      background-color: #ff0000;
    }

    #planetoid1 {
      position: absolute;
      left: 800px;
      top: 50px;
      width: 150px;
      height: 150px;

      img {
        width: 150px;
        height: 150px;
      }
    }

    #planetoid2 {
      position: absolute;
      left: 1000px;
      top: 50px;
      width: 200px;
      height: 200px;

      img {
        width: 200px;
        height: 200px;
      }
    }

    #ufo{
      position: absolute;
      left: 650px;
      top: 5px;
      width: 120px;
      height: 77px;

      img {
        width: 120px;
      }
    }

    #ufoExplosion {
      position: absolute;
      left: 650px;
      top: 5px;
      width: 120px;

      img {
        width: 120px;
      }
      opacity: 0;
    }

    #shipExplosion {
      position: absolute;
      left: 650px;
      top: 5px;
      width: 120px;

      img {
        width: 120px;
      }
      opacity: 0;
    }

    #diamond1 {
      position: absolute;
      top: 10px;

      img {
        width: 60px;
        height: 60px;
      }
    }

  }

  #board:hover {
    cursor: none;
  }

  #gamestats {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
    padding: 1em;
  }
}

#nobonus {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 50%;
    height: 50%;
    border: 2px solid #000000;
    background-color: rgba(254, 236, 0, 0.7);
    border-radius: 20px;
    z-index: 10;
    padding: 3em;
  
}